body {
  background-image: url(../img/homeT.png);
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 25px;
}

.search-type {
  width: 100%;
}

.form-container {
  margin-top: 30px;
  width: 24%;
}

form {
  position: relative;
}

.search-label {
  display: block;
  margin-top: 8px;
  font-weight: 500;
}

.form-container .search-input-text {
  width: 100%;
  height: 20px;
  margin-top: 8px;
  background-color: #c4c4c4;
  color: #0a0a0a;
  border-style: solid;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.int-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.form-container input:focus {
  outline: none;
}

.intolerance-cb-container {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 500;
}

.intolerance-cb-container .int-column {
  width: 32%;
  display: block;
  padding-right: 5px;
}

.search-input-cb {
  background-color: #c4c4c4;
  border-style: solid;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-container .search-btn {
  width: 90px;
  height: 25px;
  border-radius: 20px;
  background-color: #cd5050db;
  color: #eae9ee;
  border-style: solid;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;
  position: absolute;
  bottom: 20;
  right: 0;
}

.form-container .search-btn:hover {
  background-color: #cd5050;
}

.recipe-container {
  display: flex;
  justify-content: space-around;
  width: 70%;
  background-color: #f2bb056a;
  border-radius: 30px;
  margin-top: 30px;
  padding: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.recipe-text {
  width: 60%;
}

.recipe-text p {
  padding: 5px;
}

.recipe-text ul {
  width: 90%;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  max-height: 100px;
}

/* .list-ingredients{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: flex-start;
} */

/* .list-ingredients ul{
  width: 25%;
  padding: 5px;

} */

.recipe-image {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.recipe-image img {
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

#inst-tag{
  margin: auto;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

#inst-tag:hover {
  color: #c4c4c4;
}

.left-right-btn p:hover{
  color: #c4c4c4;
  cursor: pointer;

}

.left-right-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
}

.left-right-btn i:hover {
  color: #c4c4c4;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .form-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .intolerance-cb-container {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .form-container {
    width: 33%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .intolerance-cb-container {
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
}
